.body {
    background-color: rgb(223, 222, 222);
    max-width: 100%;
    width: 660px;
    align-content: center;
    justify-content: center;
    margin: 30px auto;
    font-family: Lato, sans-serif;
    line-height: 1.5;
    font-size: 13px;
}

@media (max-width: 700px) {
    .body {
        max-width: 90%;
    }
}