.form{
    display: flex;
    border-top: 1px solid rgb(204, 199, 199);
    background-color: white;
}

.form__input{
    display: flex;
    width: 500px ;
    margin: 10px;
    align-self: center;
}

.form__button{
    display: flex;
    background-color: teal;
    padding: 10px;
    font-size: 15px;
    color: whitesmoke;
    border: none;
    height: 33px;
    align-self: center;
    font-size: small;
    margin: 10px;
}