.list {
    border-top: 1px solid rgb(204, 199, 199);
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px 30px;
 
}


.buttonDone {
    background-color: rgb(29, 177, 29);
    border: white;
    width: 30px;
    height: 25px;
  
   
}
.buttonRemove{
    background-color: rgb(255, 0, 0);
    border: white;
    width: 30px;
    height: 25px;
}

.div__item{
   word-break: break-all;
    padding: 5px;
}

.div__item--done{
    text-decoration: line-through;
}
