.section{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background-color: white;
    margin-bottom: 5px;
    margin-top: 5px;
   width: 660px;
   max-width: 100%;
}

.section__headline {
    margin-top: 0px;
    background-color: white;
    margin-bottom: 0px;
    padding: 15px;
}