.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin-bottom: 5px;
    margin-top: 5px;
   width: 660px;
   max-width: 100%;
}

.section__headline {
    margin-top: 0px;
    background-color: white;
    margin-bottom: 0px;
    padding: 15px;
}
.section__flex{
    display: grid;
    grid-auto-flow: column;
}
.section__flex--end{
    display: flex;
    justify-content: flex-end;
}

.buttonsShowAfterClick{
    background-color: white;
    padding: 5px;
    font-size: 15px;
    color: hsl(180, 100%, 25%);
    border: none;
    font-size: small;
    margin: 0px;
    outline: transparent;
}
.buttonsShowAfterClick:hover{
    color: hsl(180, 100%, 35%);;
}
.buttonsShowAfterClick:disabled{
    color: rgba(197, 193, 193, 0.829);
}

@media (max-width: 700px){
    .section__flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}